@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "montserrat";

  src: local("montserrat-black"),
  url("../fonts/montserrat-black.woff2") format("woff2"),
  url("../fonts/montserrat-black.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "anonymouspro";

  src: local("anonymouspro-regular"),
  url("../fonts/anonymouspro-regular.woff2") format("woff2"),
  url("../fonts/anonymouspro-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "roboto";

  src: local("roboto-light"),
  url("../fonts/roboto-light.woff2") format("woff2"),
  url("../fonts/roboto-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "roboto";

  src: local("roboto-bold"),
  url("../fonts/roboto-bold.woff2") format("woff2"),
  url("../fonts/roboto-bold.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "roboto";

  src: local("roboto-black"),
  url("../fonts/roboto-black.woff2") format("woff2"),
  url("../fonts/roboto-black.woff") format("woff");
}


body {
  position: relative;

  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #ffffff;

  background-color: #121212;

  counter-reset: section;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.header {
  position: relative;

  padding-bottom: 140px;
}


.header__top {
  padding: 40px 40px 60px;
}

.logo {
  display: inline-block;
  width: 60px;
}

.logo__svg {
  transition-duration: 0.3s;

  fill: #ffffff;
}

.logo:hover .logo__svg {
  fill: #f0db4f;
}

.start {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 0 40px;

  gap: 60px;
}

.start__left {
  width: 50%;
}

.start__quote {
  max-width: 700px;
  margin: 0 auto;
}

.quote__text {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 50px;
  line-height: 58px;
  font-family: "montserrat", sans-serif;
}

.quote__text::before {
  content: "«";
}

.quote__text::after {
  content: "»";
}

.quote__highlight {
  color: #f0db4f;
}

.quote__caption {
  font-weight: 900;
  font-size: 30px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.navigation {
  position: relative;
  z-index: 1;

  padding: 0 50px;

  border-radius: 20px;
}

.navigation__list {
  margin: 0 auto;
  padding-left: 60px;

  font-size: 34px;
  line-height: 40px;
  font-family: "anonymouspro", "Courier New", Courier, monospace;
  color: #ffffff;
}

.navigation__item {
  transition-duration: 0.3s;
}

.navigation__item::marker {
  width: 20px;
}

.navigation__item:hover {
  color: #ffef99;
}

.navigation__item:active {
  color: #9fd289;
}

.navigation__link {
  display: inline-block;
  width: 100%;

  line-height: 46px;
  color: inherit;
}

.navigation__link:hover ::marker {
  color: #39aec3;
}

.section {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 40px;
}

.section strong,
.section b {
  font-weight: 700;
}

.section__title {
  margin: 0 0 80px;

  font-weight: 900;
  font-size: 50px;
  line-height: 58px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.section__title::before {
  content: counter(section) ". ";

  counter-increment: section;
}

.section__image {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section__text {
  text-align: justify;
}

.section__link {
  color: #9fd289;

  transition-duration: 0.3s;
}

.section__link:hover {
  color: #f0db4f;
}

.section__table {
  width: 600px;
  margin: 60px auto 0;

  border-collapse: collapse;
  text-align: center;

  border: 1px solid #121212;
}

.section__table tr {
  border: 1px solid #f0db4f;
}

.section__table tr:nth-child(2n-1) {
  background: rgba(240, 219, 79, 0.1);
}

.section__table td {
  padding: 10px;

  border-right: 3px solid #121212;
  border-left: 3px solid #121212;
}

.image {
  margin: 0;
}

.image__caption {
  color: #b0b0b0;
}

.article {
  padding: 50px 0 0;
}

.article__title {
  position: relative;

  padding: 0 0 18px 30px;

  font-size: 30px;
  font-family: "anonymouspro", "Courier New", Courier, monospace;
}

.article__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 3px;
  margin-top: 0;

  background-color: #f0db4f;
}

.code {
  margin: 0;
  padding: 30px;

  white-space: break-spaces;

  background-color: #323330;
}

.code__comment {
  color: #9bd1ab;
}

.code__string {
  color: #ff9b6a;
}

.code__method {
  color: #f0db4f;
}

.code__literal {
  color: #8bd2ec;
}

.code__number {
  color: #ffef99;
}

.sources__list {
  padding: 0;
}

.sources__item {
  position: relative;

  padding: 7px 0 7px 40px;

  list-style: none;
  color: #ffffff;

  background-repeat: no-repeat;
  background-position: left center;
}

.sources__item--type--document {
  background-image: url(../img/icon-document.png);
}

.sources__item--type--guide {
  background-image: url(../img/icon-guide-book.png);
}

.sources__item--type--book {
  background-image: url(../img/icon-book.png);
}

.sources__item:hover {
  color: #ffef99;
}

.sources__link {
  color: inherit;
  text-decoration: none;
}

.footer {
  position: relative;

  padding: 130px 40px 20px;

  text-align: center;
}

.footer-info {
  margin: 0;
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 66%;

  background-image: url(../img/layered-waves-haikei.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.up {
  position: fixed;
  bottom: 180px;
  left: calc(50% + 1280px / 2 + 60px);

  width: 60px;
  height: 60px;

  background-color: #292929;
  background-image: url(../img/arrow-up-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  border-radius: 50%;
  transform: translate(-50%, 0);
  opacity: 0.7;

  transition-duration: 0.3s;
}

.up:hover {
  background-color: #f0db4f;
  background-image: url(../img/arrow-up-dark.png);
}

@media (max-width: 1500px) {
  .up {
    right: 20px;
    left: initial;

    transform: none;
  }
}

@media (max-width: 1430px) {
  .quote__text {
    font-size: 46px;
  }

  .navigation {
    padding: 0;
  }

  .navigation__list {
    font-size: 30px;
  }
}

@media (max-width: 1280px) {
  .start {
    gap: 30px;
  }

  .quote__text {
    font-size: 40px;
  }

  .section {
    padding: 60px 40px;
  }
}

@media (max-width: 1130px) {
  .start {
    gap: 25px;
  }

  .quote__text {
    font-size: 32px;
    line-height: 48px;
  }

  .quote__caption {
    font-size: 24px;
  }

  .section__title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 1050px) {
  .header {
    padding-bottom: 80px;
  }

  .start {
    flex-flow: column;

    gap: 40px;
  }

  .start__left {
    width: 100%;
  }

  .start__quote {
    max-width: 100%;
  }

  .quote__caption {
    text-align: right;
  }

  .section__title {
    margin-bottom: 50px;
  }

  .section__table {
    width: 100%;
  }
}

@media (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .header__top {
    text-align: center;
  }

  .start {
    padding: 0 20px;
  }

  .navigation__list {
    font-size: 28px;
  }

  .section {
    padding: 40px 20px;
  }

  .section__title {
    font-size: 36px;
  }

  .article {
    padding-top: 40px;
  }

  .article__title {
    padding-left: 14px;

    font-size: 26px;
  }

  .up {
    bottom: 25px;
  }
}

@media (max-width: 520px) {
  .navigation__list {
    padding-left: 48px;

    font-size: 24px;
  }

  .code {
    padding: 20px;

    font-size: 16px;
  }

  .section__list {
    padding-left: 24px;
  }

  .article {
    padding-top: 30px;
  }

  .up:hover {
    background-color: #292929;
    background-image: url(../img/arrow-up-light.png);
  }
}

@media (max-width: 480px) {
  .quote__text {
    font-size: 28px;
    line-height: 40px;
  }
}

@media (max-width: 420px) {
  body {
    min-width: 320px;
  }

  .navigation__list {
    font-size: 22px;
  }
}
